/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Container Layout */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
}


/* Sidebar Styling */
.sidebar {
    width: 250px;
    background-color: #2196F3;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    text-align: center;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .logo img {
    width: 60px;
    height: 60px;
}

.sidebar .logo h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.nav-links {
    list-style: none;
    width: 100%;
}

.nav-links li {
    width: 100%;
}

.nav-links a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.nav-links a:hover{
    background-color: #1A73E8;
}

.nav-links a i {
    margin-right: 10px;
    font-size: 0.8em;
}

.logout {
    margin-top: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    width: 100%;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: #1A73E8;
}

.logout i {
    margin-right: 10px;
    font-size: 0.8em;
}

/* Main Content Styling */
.main-content {
    flex: 1;
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.welcome-section {
    background-color: #03A9F4;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.welcome-section h1 {
    font-size: 4em;
}

.welcome-section .highlight {
    font-weight: bold;
}

.about-section {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.about-box {
    flex: 1;
    background-color: white;
    padding: 83px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-box, p {
    color: #333;
    text-align: justify;
}

.italic-text {
    font-style: italic;
}

