* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 153, 255, 0.15), 0px 8px 16px rgba(0, 153, 255, 0.15);
    position: relative;
    text-align: center;
    color: #333;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.title {
    font-size: 1.8rem;
    color: #0099FF;
    margin-bottom: 5px;
}

.tagline {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.highlight {
    font-weight: bold;
    color: #333;
}

.login-title {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

label {
    text-align: left;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: -8px;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: #0099FF;
}

.login-button {
    font-size: 1rem;
    color: #ffffff;
    background-color: #0099FF;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #007ACC;
}

.links {
    margin-top: 15px;
}

.links a {
    font-size: 0.9rem;
    color: #0099FF;
    text-decoration: none;
    margin: 0 5px;
}

.links a:hover {
    text-decoration: underline;
}

/* Add these styles to your CSS file */
.google-login {
    margin-top: 15px;
    text-align: center;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #0099FF;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.google-button:hover {
    background-color: #f9f9f9;
    border-color: #007ACC;
}

.google-icon {
    width: 18px;
    height: 18px;
}
